<form method="get" action="/jewels">
  <input type="submit" value="Home">
</form>
<h2> Jewel entry #<%= @jewel.id %> </h2>
<h3> Name: <%= @jewel.name %> </h3>
<h3> Weight (grams): <%= @jewel.weight %> </h3>
<h3> Colour: <%= @jewel.colour %> </h3>
<h3> Location Found: <%= @jewel.location_found %> </h3>
<h3> Value: £<%= @jewel.value %> </h3>
<br>
<form method="get" action="/jewels/<%= @jewel.id %>/edit">
  <input type="submit" value="Edit entry">
</form>
<form method="post" action="/jewels/<%= @jewel.id %>">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete this Jewel">
</form>