<div class="container">
  <header><img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F3.bp.blogspot.com%2F-Vgl5MfM-9uk%2FU4RwLFU51zI%2FAAAAAAAAAGY%2FYLKQ1Hst0cE%2Fs1600%2Fnavaratna-1024x1015.png&f=1&nofb=1" height="250" weidth="250"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Jewel Tracker</h2>

    <div class="content">

    <h3>Create Account</h3>
    <br>
    <form method="POST" action="/signup">
      <div class="form-group<%= ' has-error' if user.errors.include?(:username) %>">
        <label for="username" class="control-label">Username: </label>
        <input type="text" name="username" id="username" value="<%= user.username %>" class="form-control">
        <% user.errors.full_messages_for(:username).each do |message| %>
          <span class="help-block"><%= message %></span><br>
        <% end %>
      </div>
      <div class="form-group<%= ' has-error' if user.errors.include?(:password) %>">
        <label for="password" class="control-label">Password: </label>
        <input type="password" name="password" id="password" class="form-control">
        <% user.errors.full_messages_for(:password).each do |message| %>
          <span class="help-block"><%= message %></span><br>
        <% end %>
      </div>
      <input type="submit" value="Sign Up">
      <br>
    </form>
    <br>
  </div>
</div>
